@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --default-font-family: 'Open Sans', sans-serif;

  --color-blue-base: #2C46B1;
  --color-blue-dark: #2C4091;

  --color-gray-100: #F9F9FB;
  --color-gray-200: #E4E6EC;
  --color-gray-300: #CDCFD5;
  --color-gray-400: #74798B;
  --color-gray-500: #4D505C;
  --color-gray-600: #1F2025;

  --color-feedback-danger: #B12C4D;

  --text-xxs: 10px;
  --text-xxs--line-height: 14px;

  --animate-progress: progress 1s infinite linear;

  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0%) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }
}

